body {
    margin: 0px;
    background-image: url(Inflation1400.webp);
}
.header {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(ALL\ IN\ ONE\ KARYANA\ STORE.png);
}
.header button {
    background-color: #00ccff; /* Green */
    border: none;
    color: white;
    text-align: left;
    font-size: 16px;
    margin-right: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
  }
  
  .header button:hover {
    background-color: #9445a0; /* Darker Green */
  }
  
.first {
   display: flex;
   justify-content: center;
}
.first div {
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 300px;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    border: 3px solid black;
}
.first img {
    height: 200px;
    width: 200px;
    margin-left: 32px;
}

.first button {
    height: 37px;
    width: 70px;
    background-color: rgb(99, 255, 99);
    border-radius: 15px;
    font-size: 1.5em;

}

  .search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #45a049; /* Darker Green */
  }
